body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

a, li {
    text-decoration: none;
    color: white;
    list-style: none;
    font-size: 12px;
}

header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    height: 300px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
    align-items: center;
}

.top-header ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.header-text {
    display: flex;
    flex-direction: column;
}

/* continue here */
.header-text div {
    flex-grow: 1;
}

.header-two {
    display: flex;
}

.header-logo {
    font-size: 20px;
}

.header-image {
    width: 400px;
    height: 150px;
    background-color: white;
    background-color: hsla(250, 10%, 77%, 0.693);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background-color: white;
}

footer {
    background-color: #1f2937;
    color: white;
}